body{
  background-color: #444444;
}

.centre {
  margin: auto;
  text-align: center;
}
   
.button {
  display: block;
  border-radius: 4px;
  background-color: #888888;
  border: none;
  color: #222222;
  text-align: center;
  font-size: 2rem;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin : auto;
}

.button span {
  cursor: pointer;
  position: relative;
  transition: 0.5s;
  display: block;
  margin : auto;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


audio{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: #888888;
  font-size: 1.5rem;
}

a:hover {
  font-size: 2rem;
  transition: 0.5s;
}

a:not(:hover) {
  font-size: 1.5rem;
  transition: 0.5s;
}
  





