body{
    background-color: #444444;
    
}
   
button {
    padding: 15px 100px;
    margin: 10px 4px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #888888;
    color: #222222;
    border-radius: 15px;
  }
  button:hover {
    background-color: #555555;
    color: #000000;
  }

  audio{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

