body {
    color:#F0F0F0;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('fond.jpg');
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
    }

header {
    float: initial;
}

aside {
    float: left;
    background-color: #811BAD;
}


img {
    width: 300px;
    height: 300px;
}

b {
    color: blanchedalmond;
}


a {
    color:#A0A0A0;
}

#date {
    color: #811BAD;
    font-weight: bold;
}

#formation {
    font-weight: bold;
}

#lieu {
    color: #811BAD;
    font-weight: bold;
}

.button {
    display: block;
    border-radius: 4px;
    background-color: #888888;
    border: none;
    color: #222222;
    text-align: center;
    font-size: 2em;
    padding: 20px;
    width: 200px;
    height: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin : auto;
  }
  
  .button span {
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    display: block;
    margin : auto;
  }
  
  .button span:after {
    position: absolute;
    font-size: 1.5em;
    opacity: 0;
    transition: 0.5s;
  }
  
  .button:hover span {
    font-size: 1.5em;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

/* table,
td {
    border: 1px solid #909090;
} */
 